/** STYLE PAGE_GROUPE **/

#groupe {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4,21.25%);
    grid-template-areas: "Tristan"
                         "Victor"
                         "Simon"
                         "Mouhamad";
    margin: 6.75% 5% 6.75% 5%;
    gap: 5% 5%;
    height:100vh;
}

#groupe div {
    background-color: var(--gris);
    font-family: "Arial";
    border: solid black;
    border-radius: 50px;
    text-align: center;
    transition: 0.1s;
    padding: 1%;
}

#groupe div:hover {
    transform: scale(1.1);
}

#groupe div {
    
}

#groupe div p:first-child {
    font-family: "impact";
}

#groupe div p:nth-child(2) {
    text-decoration: underline;
}

#groupe #Tristan {
    grid-area:Tristan;
}

#groupe #Victor {
    grid-area: Victor;
}

#groupe #Simon {
    grid-area: Simon;
}

#groupe #Mouhamad {
    grid-area: Mouhamad;
}


@media (650px<=width) {
    /* POUR ORDINATEUR ET TABLETTE
    Le style dans ce media-query va être appliqué 
    EN PLUS du style CSS pour téléphone
    */
    #groupe {
        grid-template-columns: repeat(2, 47.5%);
        grid-template-rows: repeat(2,47.5%);
        grid-template-areas: "Tristan Simon"
                             "Victor Mouhamad";
        height:auto;
    }

}

@media (700px<=height) and (650px<=width) {
    /*Permet au footer de rester en bas de la page sans avoir un espace en dessous*/
    footer {
        position: fixed;
        bottom: 0;
    }
}