/** STYLE GENERAL APPLIQUE A TOUS LES DOCUMENTS HTML**/


:root {
    --couleur-1: #ffe436;
    --couleur-2: #1c3186;
    --gris: #f3f5f4;
}

body{
    margin : 0px;
    margin-top: 0px;
}

/*style du header*/

header {
    font-family: "Trebuchet MS";
    background-color: var(--gris);
    height : 100px;
    color : black;
}

header h1 {
    display: inline;
    vertical-align: 100%;
}
 
header img {
    width : auto;
    height : 100%;
    margin-right: 10px; 
    display : inline;
}

/*style du nav*/

nav{
    background-color: black;
    padding : 12.5px;
    display : flex;
    flex-wrap : wrap;
    justify-content : center;
    
}

nav a{
    border : solid 2px var(--couleur-1);
    background-color: var(--couleur-1);
    border-radius: 10px;
    padding : 4px;
    margin : 0.3vh;
    text-decoration : none;
    font-family : "impact";
    color : black;
}

nav a:hover{
    animation-name : bouton;
    animation-duration: 0.5s;
    animation-fill-mode : forwards;
}

@keyframes bouton{
    from{
        color : black;
    }
    to{
        color : var(--couleur-1);
        background-color: black;
    }
}

/*style du footer*/

footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 0.7fr 1.4fr;
    grid-template-areas: "link"
                         "logo"
                         "text";

    background-color: var(--gris);
}

#footer_link, #footer_img, #footer_text {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer #footer_img {
    grid-area: logo;
    justify-content: center;
}

footer #footer_link {
    grid-area: link;
    gap : 5px;
}

footer #footer_text {
    grid-area : text;
    text-align : center;
    font-size : xx-small;
    margin-left : 5vw;
    margin-right : 5vw;
}

footer img {
    width: 40%;
    height: auto;
}

footer a{
    border : solid 2px black;
    background-color: black;
    border-radius: 10px;
    padding : 3px;
    text-decoration : none;
    font-family : "Arial";
    font-size : 15px;
    color : white;
}

footer a:hover{
    animation-name : bouton_2;
    animation-duration: 0.5s;
    animation-fill-mode : forwards;
}

@keyframes bouton_2{
    from{
        color : white;
    }
    to{
        color : black;
        background-color: var(--gris);
    }
}

/*---------STYLE TABLETTE---------*/


@media only screen and (600px<=width) {

    /*style du footer*/

    footer {
        grid-template-columns: 0.66fr 1.34fr;
        grid-template-rows: 2fr 1fr;
        grid-template-areas: "link logo"
                             "text text";
    }

    footer #footer_img {
        justify-content: center;
    }

    footer img {
        width: 40%;
        height: auto;
    }

    footer #footer_link {
        grid-area: link;
        margin : 1vh;
        flex-direction : column;
    }
}


/*---------STYLE ORDINATEUR---------*/


@media only screen and (768px<=width) {

    /*style du nav*/

    nav {
        justify-content : left;
    }

    /*style du footer*/

    footer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr;
        grid-template-areas: "link logo"
                             "text text";
    }

    footer #footer_link {
        margin: 1vh;
        flex-direction: row;
    }

    footer img {
        width: 23%;
        height: auto;
    }

}